@model DemoWebApp.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="carpet">
    <h4>Kundeneintrag löschen</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            <label>Name</label>
        </dd>
        <dt class = "col-sm-2">
            <label>Kreditkartennummer</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Entfernen" class="btn btn-danger" />
        <a asp-controller="Merchant" asp-action="Index">Zurück</a>
    </form>
</div>
